.banner {
  padding: 200px 0;
  background-size: cover;
  background-position: center bottom 40%;
}

.banner h1 {
  color: white;
  margin: 0
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 60px;
}
