.service {
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid #BEB0EB;
}

.service img {
  height : 150px;
  width: 100%;
  object-fit: cover;
}

.service h3 {
  color: #30a483;
}
